#root {
  max-width: 1280px;
}

.Header{
  background: orangered;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.globe-icon{
  padding: 0em .5em;
  width: 40px;
  height: 40px;
}
.journal{
  display: flex;

}
.journal--image{
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.Main--content{
  display: flex;
  background: #ffff;
  margin: 2em;
}
.full-content{
  display: flex;
  flex-direction: column;
}
.lo-map{
  display: flex;
  padding: .5em 1em ;
}
.dot--location{
  color:orangered;
}
.location{
text-transform: uppercase;
padding: 0em 0.2em;
}
.google--map{
padding: 0em 4em 0em .2em;
color:gray;
}
.title--description{
  display: flex;
  padding: 0em 1em;
  flex-direction: column;
}
.title-country{
  line-height: .2em;
  font-size:30px;
}
.startd--endd{
  display: flex;
 padding-top:1em;
 line-height: .2em;
}
.description--p{
  padding: 0em 3em 0em 0em;
}